@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --texts:black;
    --nav: white;
    --tasks: #E4EBFA;
    --viewInput:#F4F7FD;
    --checkbox: white;
    --buttons:rgb(130 143 163 / 0.1);
}

[data-theme='dark'] {
    --nav: #2b2c37;
    --texts:white;
    --tasks: #20212c;
    --viewInput:#20212c;
    --checkbox:#3E3F4E;
    --buttons:white;
}

body{
    background-color: grey;
    scroll-behavior: smooth;
}


#scrollbar{
    scrollbar-width: none;
}

#scrollbar::-webkit-scrollbar{
    display: none;
}